/* Polices */
@font-face {
    font-family: 'roboto-black';
    src: url('../fonts/Roboto-Black.ttf') format('truetype'); 
}
@font-face {
    font-family: 'roboto-thin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype'); 
}
@font-face {
    font-family: 'roboto-medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'dishcek';
    src: url('../fonts/Dishcek.otf') format('opentype');
}
@font-face {
    font-family: 'BeachSunny';
    src: url('../fonts/BeachSunny.otf') format('opentype');
}
@font-face {
    font-family: 'MidnightSerenity';
    src: url('../fonts/MidnightSerenity.ttf') format('truetype');
}
@font-face {
    font-family: 'Curetro';
    src: url('../fonts/Curetro.otf') format('opentype');
}


/*Utilisation des polices de caractère*/
h1, p.catTitle {
    font-family: 'Dishcek', 'roboto-black';
    color:rgb(4, 4, 46);
}
body, p.catsubTitle {
    font-family: 'roboto-regular', 'roboto-medium';    
}

.flex-itemCat{
    font-family: 'roboto-thin'; 
}

.subTitle {
    font-family: 'roboto-black';
}

.button1, #button{
    font-family:'curetro';
}

.domList, .domListP{
    font-family: 'robot-regular';
}
