/*********************************/
/* Gestion des balises classiques*/
/*********************************/
body{   
    background: linear-gradient(0deg, rgba(247, 205, 67, 0.943) 0%, rgba(253, 87, 36, 0.849) 100%);
    background-size: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.mainTitle{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}


/**************/
/* index.html */
/**************/
article{
    margin-top: 12px;
    padding-left: 15px;
    background-color: rgba(230, 227, 74, 0.568);
    border-radius: 20px;
    box-shadow: 3px 3px rgba(228, 152, 10, 0.692);
    
}
.subTitle{
    margin-left: 15px;
}
.button1{
    width: 120px;
    height: 35px;
    background-color: rgb(196,75,75);
    border-radius: 20px;
    color:white;
    box-shadow:3px 3px pink ;
    font-size: 95%;
    border:none; 
    min-width: 110px;
    min-height: 20px;    
}
.button1:hover{
    background-color: rgb(209, 93, 93);
}
.buttonwrapper{
    width: 100%;
    padding-left: 45%;
    margin-top: 10px;
}
.a-definition{
    margin-left: 17%;
    margin-right: 10%;
}
.a-conclusion{
    margin-left: 13%;
    margin-right: 10%;
}
.a-exemples {
    margin-left: 2%;
}
.panelwraper{
    width: 100%;
    padding-left: 21%;
    padding-right: 23%;
}
s

#panelPrincipes{
    margin :0 35px 0 0;
}
.a-principes{
    padding : 15px 15px 15px 15px;
}

/*****************/
/* syracuse.html */
/*****************/
body.syracuseBody{
    text-align: center;
    margin-left: 0px;
}
#resTable td{
    border: 1px solid black;
}
#resTable th{ 
    background-color: black;
    color: white;
    padding: 5px;
    border: 1px solid black;
}
#resTable {
    background-color:white;
    border-collapse: collapse;
    text-align: center;
}

/* Bouttons et des entrée utilisateurs */
#button, #nbr {
border-radius: 25px;
}
#button {
    width: 95px;
    height: 30px;
    margin-top: 2px;
    background-color: rgb(196,75,75);
    border-radius: 20px;
    color:white;
    box-shadow:2px 2px pink;
    font-size: 100%;
    border:none;
}
#button:hover{
    background-color:rgb(209, 93, 93);
}
#nbr{
    border:none;
    outline:none;
}
#nbr:active{
    background-color: aliceblue;
}



/************/
/* cat.html */
/************/
.catpicture {
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p.catTitle{
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
}
p.catsubTitle{
    font-size: 15px;
    text-align: center;
}
.domList, .domListP{
    font-size: 25px;
}


/**************/
/* Exceptions */
/**************/
.bolded {
    font-weight: bold;
}
