/* Commun a toute les pages */
/*-------------------------*/

/* Gestion des balises classiques*/
body{   
    background: linear-gradient(0deg, rgba(254,255,179,0.9429972672662815) 0%, rgba(253,29,29,1) 100%);
    background-size: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.mainTitle{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}
#resTable td{
    border: 1px solid black;
}
#resTable th{ 
    background-color: black;
    color: white;
    padding: 5px;
    border: 1px solid black;
}
#resTable {
    background-color:white;
    border-collapse: collapse;
    text-align: center;
}

p.catTitle{
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
}
p.catsubTitle{
    font-size: 25px;
}

body.syracuseBody{
    text-align: center;
    margin-left: 0px;
}

.subTitle{
    margin-left: 15px;
}

.button1{
    width: 120px;
    height: 35px;
    background-color: rgb(196,75,75);
    border-radius: 20px;
    color:white;
    box-shadow:3px 3px pink ;
    font-size: 95%;
    border:none; 
    min-width: 110px;
    min-height: 20px;    
}
.button1:hover{
    background-color: rgb(210,75,75);
}

.domList, .domListP{
    font-size: 35px;
}

/* Gestion des bouttons et des entrée utilisateurs */
#button, #nbr {
border-radius: 25px;
}
#button {
    width: 95px;
    height: 30px;
    margin-top: 2px;
    background-color: rgb(196,75,75);
    border-radius: 20px;
    color:white;
    box-shadow:2px 2px pink;
    font-size: 100%;
    border:none;
}
#button:hover{
    background-color:rgb(210,75,75);
}

#nbr{
    border:none;
    outline:none;
}
#nbr:active{
    background-color: aliceblue;
}

/* Exceptions */
.bolded {
    font-weight: bold;
}